<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Database" connectionString="Persist Security Info=False;User ID=sa; Password=Administrator1; Initial Catalog=Damit;Data Source=.\Sql_2k8R2;"/>
    <!--<add name="Database" connectionString="Persist Security Info=False;User ID=sa; Password=dcis; Initial Catalog=Damit;Data Source=.\Sql_2k8;"/>-->
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
